<br/><br/>

<div class="col-sm-10 offset-sm-1 col-xl-8 offset-xl-2">

  <h3 class="uppercase model-header"><%= @status %></h3>
  <hr class= "model-header-line">
  <h4 class= "section-header "> ASSUMPTIONS </h4>
  <br/>

  <!-- FINANCING -->
  <% if @status == "financing" %>
    <%= simple_form_for @model do |f| %>
    <div class="simple_form_content">
        <div class="row expenses_header">
            <p>EXPENSES</p>
        </div>
        <div class="row text-center expenses_bg ">
          <div class="col-sm-6 col-md-6 col-lg-3 input_element">
            <%= f.input :downpayment_percent, placeholder: '20', input_html: {value: '20'} , label: "DOWNPAYMENT PERCENT", type: 'number' %>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3 input_element">
            <%= f.input :interest_rate_percent, placeholder: '3.4',  input_html: {value: '3.4'}, label: "MORTGAGE INTEREST RATE (%)", type: 'number' %>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3 input_element">
            <%= f.input :property_mortgage_insurance_monthly, placeholder: '0',  input_html: {value: '0'}, label: "MONTHLY PROPERTY MANAGEMENT INSURANCE", type: 'number' %>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3 input_element">
            <%= f.input :loan_term_length_years, placeholder: '30',  input_html: {value: '30'}, label: "MORTGAGE TERM LENGTH (YEARS)", type: 'number' %>
          </div>
          <%= hidden_field_tag(:status, @status) %>
        </div>
      </div>
      <br/>
      <%= f.submit "NEXT", class: 'btn btn-outline-primary float-right' %>
      <br/><br/><br/>
    <% end %>
  <% end %>

  <!-- MANAGEMENT -->
  <% if @status == "management" %>
    <%= simple_form_for @model do |f| %>
    <div class="simple_form_content">
        <div class="row expenses_header">
            <p>EXPENSES</p>
        </div>
        <div class="row text-center expenses_bg ">
          <div class="col-sm-6 col-md-6 col-lg-3 input_element">
            <%= f.input :management_fees_percent, placeholder: '10',  input_html: {value: '10'}, label: "PROPERTY MANAGEMENT FEES PERCENT", type: 'number' %>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3 input_element">
            <%= f.input :average_tenant_stay_yrs, placeholder: '2',  input_html: {value: '2'}, label: "AVERAGE TENANT STAY (YEARS)", type: 'number' %>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3 input_element">
            <%= f.input :average_vacancy_length_months, placeholder: '1',  input_html: {value:'1'}, label: "AVERAGE VACANCY LENGTH (MONTHS)", type: 'number' %>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3 input_element">
            <%= f.input :earnings_reinvestment_percent, placeholder: '0', input_html: {value: '0'}, label: "PERCENT OF EARNINGS REINVESTED", type: 'number' %>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3 input_element">
            <%= hidden_field_tag(:status, @status) %>
          </div>
        </div>
      <br/>
      <%= f.submit "NEXT", class: 'btn btn-outline-primary float-right' %>
      <br/><br/><br/>
    <% end %>
  <% end %>

  <!-- LOCAL ECONOMY -->
  <% if @status == "local economy" %>
    <%= simple_form_for @model do |f| %>
    <div class="simple_form_content">
        <div class="row equity_header">
            <p>EQUITY</p>
        </div>
        <div class="row text-center equity_bg">
            <div class="col-sm-6 col-md-6 col-lg-3 input_element">
              <%= f.input :value_growth_percent, placeholder: '0',  input_html: {value: '0'}, label: "PROPERTY VALUE GROWTH (%)", type: 'number' %>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 input_element">
              <%= f.input :property_taxes_percent, placeholder: '0',  input_html: {value:'0'}, label: "ANNUAL PROPERTY TAX RATE (%)", type: 'number' %>
            </div>
            <%= hidden_field_tag(:status, @status) %>
          </div>
        </div>
      <br/>
      <%= f.submit "NEXT", class: 'btn btn-outline-primary float-right' %>
      <br/><br/><br/>
    <% end %>
  <% end %>


  <!-- NATIONAL ECONOMY -->
  <% if @status == "national economy" %>
    <%= simple_form_for @model do |f| %>
    <div class="simple_form_content">
        <div class="row equity_header">
            <p>EQUITY</p>
        </div>
        <div class="row text-center equity_bg">
            <div class="col-sm-6 col-md-6 col-lg-3 input_element">
              <%= f.input :inflation_rate_percent, placeholder: '2',  input_html: {value:'2'}, label: "ANNUAL INFLATION RATE ESTIMATE (%)", type: 'number' %>
            </div>
            <%= hidden_field_tag(:status, @status) %>
          </div>
        </div>
      <br/>
      <%= f.submit "NEXT", class: 'btn btn-outline-primary float-right' %>
      <br/><br/><br/>
    <% end %>
  <% end %>

</div>