<br/><br/>

<div class=" col-sm-10 col-lg-10 offset-sm-1 offset-lg-1 col-xl-8 offset-xl-2" >

  <div class="heading-title text-center">
    <h3> DASHBOARD </h3>
    <p class="p-top-30 half-txt">Create and populate models for your properties.
      <br/>
    Compare models to find the property to take you to retirement! </p>
  </div>


  <table class="table table-hover">
  <thead>
    <tr>
      <th class="text-center", scope="col">ID</th>
      <th class="text-center", scope="col">Profit Margin</th>
      <th class="text-center", scope="col">Annual Revenue</th>
      <th class="text-center", scope="col">Annual Expenses</th>
      <th class="text-center", scope="col">Price / Profit</th>
      <th class="text-center", scope="col">Years to Breakeven</th>
      <th class="text-center", scope="col">&nbsp &nbsp &nbsp &nbsp</th>
    </tr>
  </thead>
  <tbody>
    <% @num = 1 %>
    <% @models.each do |fin_model| %>
      <% if fin_model.id.present? %>
        
        <% @downpayment = ((fin_model.downpayment_percent/100) * fin_model.price).round(0) %>

        <% @revenue = fin_model.rent_monthly*12 %>

        <% @operating_expenses = (fin_model.property_upkeep_monthly + fin_model.insurance_monthly + fin_model.hoa_fees_monthly + fin_model.utilities_monthly + ((fin_model.management_fees_percent/100) * fin_model.rent_monthly) + fin_model.property_mortgage_insurance_monthly) * 12
        %>

        <% @financing_expenses = (fin_model.interest_rate_percent/100) * ((1-(fin_model.downpayment_percent/100)) * fin_model.price) %>


        <tr>
          <th class="text-center", scope="row"> <%= @num %></th>
          <td class="text-center"><%= number_to_currency(@downpayment)%></td>
          <td class="text-center"><%= number_to_currency(@revenue) %></td>
          <td class="text-center"><%= number_to_currency(@financing_expenses + @operating_expenses) %></td>
          <td class="text-center"><%= (fin_model.price/(@revenue  - (@financing_expenses + @operating_expenses))).round(2) %></td>
          <td class="text-center"><%= (1/((@revenue  - (@financing_expenses + @operating_expenses))/@downpayment)).round(1) %></td>
          <td class="text-center">
            <%= link_to edit_model_path(fin_model, status: "financing"), class: "hover_edit" do %>
              <i class="fas fa-edit"></i> 
            <% end %> 
            &nbsp &nbsp 
            <%= link_to model_path(fin_model), data: {confirm: "Are you sure?"}, :method => :delete, class: "hover_delete" do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </td>
        </tr>

        <% @num += 1 %>
      <% end %>
    <% end %>
  </tbody>
</table>

  <br/><br/>
  <div class="text-center">
    <% if @subscription != "none" or @num <4 %>
      <h5> Add a new property... </h5>
      <br/>
      <%= link_to "CREATE A MODEL", new_model_path, class: "btn btn-outline-primary" %>
    <% else %>
      <%= link_to 'SUBSCRIBE TO CONTINUE ADDING MODELS', products_path, class: 'btn btn-warning text-center' %>
    <% end %>
  </div>
</div>
<br/><br/><br/>



