<br/><br/>


<div class="col-sm-10 offset-sm-1 col-xl-8 offset-xl-2" >
  
  <h3 class= "uppercase model-header"><%= @status %></h3>
  <hr class= "model-header-line">
  <h4 class= "section-header"> ASSUMPTIONS </h4>
  <br/>

  <%= simple_form_for @model do |f| %>
    <div class="simple_form_content">
        <div class="row equity_header">
            <p>PROPERTY LOCATION</p>
        </div>
        <div class="row text-center equity_bg">
            <div class="col-sm-6 col-md-6 col-lg-3 input_element">
                <%= f.input :street_address, placeholder: '9595 Beechwood Ave', input_html: {value: '9595 Beechwood Ave'}, type: 'string', label: "STREET ADDRESS" %>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 input_element">
                <%= f.input :appartment_number, label: "APPARTMENT NUMBER", type: 'string' %>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 input_element">
                <%= f.input :city, placeholder: 'Woburn',  input_html: {value: 'Woburn'}, label: "CITY", type: 'string' %>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 input_element">
                <%= f.input :state,  placeholder: 'MA', input_html: {value: 'MA'}, label: "STATE", type: 'string'  %>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 input_element">
                <%= f.input :postal_code,  placeholder: '01801', input_html: {value: '01801'}, label: "POSTAL CODE", type: 'string'  %>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 input_element", id="input">
                <%=  f.input :country, as: :country, priority: ['US'], label: "COUNTRY", class: "input" %>
            </div>
            <%= hidden_field_tag(:status, @status) %>
        </div>
    </div>
    <br/>
    <%= f.submit "NEXT", class: 'btn btn-outline-primary float-right' %>
    <br/><br/><br/>
  <% end %>
</div>